In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
from time import time
from IPython.display import display
%matplotlib inline

In [6]:
data = pd.read_csv('training.csv')
data.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,classLabel
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,t,0,no.
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,NaN,0,no.
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,t,0,no.
3,a,48.17,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.0,120,0.0,NaN,0,no.
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,f,0,no.

In [8]:
data.shape

(3700, 19)

In [9]:
target_raw = data['classLabel']
features_raw = data.drop('classLabel', axis = 1)

In [35]:
# target_raw.count(['no'])
no = 0
for i in target_raw:
    if i == 'no.':
        no = no+1
no

276

In [62]:
mapping = {"no.":0,"yes.":1}
target = target_raw.replace({'no.': mapping, 'yes.': mapping})

predicted = np.ones(3700)
print(predicted)

[1. 1. 1. ... 1. 1. 1.]

In [57]:
from sklearn.metrics import r2_score

def performance_metric(target_raw,predicted):
    
    score = r2_score(target_raw,predicted)
    
    return score

In [58]:
performance_metric(target,predicted)

-0.08060747663551426